<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <h1>Bem-vindo ao Sistema de Aluguel de Itens</h1>
  <p><a href="/registrar">Registrar um Item</a></p>
  <p><a href="/alugar">Alugar um Item</a></p>
  <p><a href="/alugado">Ver Itens Alugados</a></p>
</body>
</html>
